      .glow {
        box-shadow: 0 0 20px rgba(56, 189, 248, 0.7),
          0 0 40px rgba(139, 92, 246, 0.6);
      }
      .glow-hover:hover {
        transform: scale(1.05);
        transition: 0.3s;
        box-shadow: 0 0 30px rgba(139, 92, 246, 0.7),
          0 0 50px rgba(56, 189, 248, 0.6);
      }
      .fade-up {
        animation: fadeUp 0.9s ease-out;
      }
      @keyframes fadeUp {
        from {
          opacity: 0;
          transform: translateY(30px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
.light-theme {
  background: linear-gradient(to bottom right, #d1d5db, #9ca3af);
  color: #0ea5e9; /* vivid sky blue */
}



      .dark-theme {
        background: linear-gradient(to bottom right, #0f172a, #1e293b);
        color: #f1f5f9;
      }
